<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/javascript/react.js"></script>
        <title>
            SnaccOverflow
        </title>
        <link rel="icon" href="../images/icon.png" sizes="32x32" type="image/png">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <script src="/javascript/userView.js"></script>
		<script src="/javascript/navbar.js" type="text/javascript"></script>
        <div class="space"></div>
        <div class="space"></div>
		<div class="landing card">
            
            <% if (error) { %>
                <div class="landing text"><%= error %></div>
              <% }else{%>
                <div class="landing text">Task Failed.</div>
                <% } %>
                <div class="landing text">Please click "Go Back" to return to the home page.</div>
            
            <button class = "landing button" onclick="window.location.href = '/index';">Go Back</button>
        </div>
    </body>
</html>