<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/javascript/react.js"></script>
        <title>
            SnaccOverflow
        </title>
        <link rel="icon" href="../images/icon.png" sizes="32x32" type="image/png">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <script src="/javascript/userView.js"></script>
		<script src="/javascript/navbar.js" type="text/javascript"></script>
        <div class="space"></div>
        <div class="space"></div>
		<div class="credential-card">
            <h1>Task Failed. Please click back to return to the page.</h1>
            <% if (error) { %>
                <div class="error-message"><%= error %></div>
              <% } %>
            <!-- <button onclick="window.location.href = '/login';">Go Login</button> -->
            <button class = "newPost" onclick="window.location.href = '/index';">Go Back</button>
        </div>
    </body>
</html>