<!-- <html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="./javascript/react.js"></script>
        <title>
            SnaccOverflow
        </title>
        <link rel="icon" href="./images/icon.png" sizes="32x32" type="image/png">
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
    </head>
    <body>
        <form method="POST" action="/api/user">
            <label for="">Username</label>
            <input type="text" name="username" id=""><br>
            <label for="">Password</label>
            <input type="password" name="password" id=""><br>
            <label for="">Re-type Password</label>
            <input type="password" name="repassword" id=""><br>
            <input type="submit">
        </form>
    </body>
</html> -->