<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/javascript/react.js"></script>
		<script src="/javascript/live.js"></script>
        <title>	
            Log In
        </title>
        <link rel="icon" href="../images/icon.png" sizes="32x32" type="image/png">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        
		<script src="/javascript/navbar.js" type="text/javascript"></script>
		<script>
			createNavbar(<%= isLoggedIn %>);
		</script>
		<div class="space"></div>
        <div class="credential-card">
			<div id="login-title">
				Log In
			</div>
			<form id="login-screen" method="POST" action="/login">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" required>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" required>
				<div class="centered">
					<label for="remember">Remember Me</label>
					<input type="checkbox" name="remember" id="remember">
				</div>
				<div class="centered">
					<input type="submit" value="Log In">	
				</div>
			</form>
		</div>
    </body>
</html>