<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/javascript/react.js"></script>
        <title>
            SnaccOverflow
        </title>
        <link rel="icon" href="../images/icon.png" sizes="32x32" type="image/png">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
            <body>
                <script src="/javascript/userView.js"></script>
		<script src="/javascript/navbar.js" type="text/javascript"></script>
		<script>
			createNavbar('',<%= isLoggedIn %>);
		</script>

        <form method="POST" action="/api/user">
            <label for="">Username</label>
            <input type="text" name="username" id="username"><br>
            <label for="">Password</label>
            <input type="password" name="password" id="password" required><br>
            <label for="">Retype Password</label>
            <input type="password" name="repassword" id="repassword" required><br>
            <input type="submit">
        </form>
    </body>
</html>